*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}


body{
	display:block;
    background-image:  url("http://localhost/medical/image/background-2.jpg");
	background-size:300%;
	/*background-repeat:no-repeat;*/
	background-color:#50A0B7;
	
}
.MainHeader{
	
	
	margin:0px;
	
	/*border:10px solid black;
	*/
}
.TopHeader{
	
     /*border:10px solid blue;*/
  	 margin-top:0px;
	 display:block;
	 border-bottom:solid black 2px; 
      
	 }
.TopHeader div li{
	display:inline;
	list-style:none;
	}

.SearchBar{
	width:60%;
	height:30px;
	margin-left:30%;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;


}

.SearchButton{
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	width:80px;
	height:30px;
	cursor:pointer;

}
.TopHeader img{
	width:15%;
	/*border:2px solid white;*/

}
.SignBar{
	position:absolute;
	top:1%;
	left:80%;
}
.TopHeader nav a:link{
	padding:10px;
	text-decoration:none;
	
}
	
.MainFooter{
	border-top:1px solid black;
	padding:10px;
	overflow: hidden;
	
}

.SignBar a:hover {   
	background-color:blue;
	color:white;
}


.MainFooter div{
	margin-left:5px;
	float:left;
	
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  
  }

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.MainBody{
	
	margin:0 auto;
	width:90%;
	height:80%;
	
	}
	
	
.heading_category{
	display:block;
	margin: auto;
	text-align:center;
	
	vertical-align:middle;
	

}	
.category{
	display:block;
	text-align:left;
	

}
.category_img{
	
	display:inline-block;
 max-width: 300px;
  position: relative;
  margin: auto;
  overflow:hidden;
  margin:80px;
  margin-top:50px
  
  
	
}
.text_category{
	color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.text_category:hover{
	color:#051e47;
	
	
}
.category_img img{
	width:100%;
	object-fit: contain;
	
	border:1px solid black;
}
.SlideShow{
	margin-top:4px;
}
.result{
	margin:50px;
	padding:5%;
	font-size:30px;
	
	border: 1px solid red;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
	
}
